name: lint

on:
  push:
  pull_request:
  schedule:
    - cron: '34 17 * * *'

jobs:

  clang_format_check:

    runs-on: ubuntu-latest

    if: ${{ github.event_name != 'schedule' || (github.event_name == 'schedule' && vars.MMGH_NIGHTLY == 'enable') }}

    strategy:
      matrix:
        path:
          - 'cpp'
          - 'gtests'

    steps:

      - uses: actions/checkout@v2

      - name: event name
        run: |
          echo "github.event_name: ${{ github.event_name }}"

      - name: Add 8G swap (Ubuntu)
        # Prevent hitting runner's resource limits
        if: runner.os == 'Linux'
        run: |
          # Remove /swapfile first to avoid "fallocate: Text file busy" error
          sudo swapoff -a
          sudo rm -f /swapfile
          sudo fallocate -l 8G /swapfile
          sudo chmod 600 /swapfile
          sudo mkswap /swapfile
          sudo swapon /swapfile
          free -h

      - name: Run clang-format style check for C/C++/Protobuf programs.
        uses: jidicula/clang-format-action@v4.16.0
        with:
          clang-format-version: '20'
          check-path: ${{ matrix.path }}
          fallback-style: 'LLVM' # optional

  tidy_flake8_ubuntu:

    if: ${{ github.event_name != 'schedule' || (github.event_name == 'schedule' && vars.MMGH_NIGHTLY == 'enable') }}

    runs-on: ${{ matrix.os }}

    env:
      JOB_MAKE_ARGS: VERBOSE=1 BUILD_QT=ON USE_CLANG_TIDY=ON LINT_AS_ERRORS=ON
      QT_DEBUG_PLUGINS: 1
      QT_QPA_PLATFORM: offscreen
      # Fix issue: https://github.com/solvcon/modmesh/issues/366
      # Use custom config for jurplel/install-qt-action@v4
      AQT_CONFIG: "thirdparty/aqt_settings.ini"

    strategy:
        matrix:
          os: [ubuntu-24.04]
          cmake_build_type: [Debug]

        fail-fast: false

    steps:

    - uses: actions/checkout@v1
      with:
        fetch-depth: 1

    - name: event name
      run: |
        echo "github.event_name: ${{ github.event_name }}"

    - name: setup dependencies for Ubuntu
      uses: ./.github/actions/deps_lint

    - name: ccache
      uses: hendrikmuhs/ccache-action@v1.2
      with:
        key: ${{ runner.os }}-tidy-${{ matrix.cmake_build_type }}
        restore-keys: ${{ runner.os }}-tidy-${{ matrix.cmake_build_type }}
        create-symlink: true

    - name: make cinclude (check_include)
      run: make cinclude

    - name: make checkascii (check ASCII-only characters)
      run: make checkascii

    - name: make checktws (check trailing whitespace)
      run: make checktws

    - name: make pilot
      run: |
        make pilot \
          ${JOB_MAKE_ARGS} \
          CMAKE_BUILD_TYPE=${{ matrix.cmake_build_type }} \
          CMAKE_ARGS="-DPYTHON_EXECUTABLE=$(which python3) -DUSE_PYTEST_HELPER_BINDING=ON"

    - name: make run_pilot_pytest
      run: |
        export LD_LIBRARY_PATH=$(python3 -c "import sys, os, shiboken6; sys.stdout.write(os.path.dirname(shiboken6.__file__))")
        make run_pilot_pytest \
          ${JOB_MAKE_ARGS} \
          CMAKE_BUILD_TYPE=${{ matrix.cmake_build_type }} \
          CMAKE_ARGS="-DPYTHON_EXECUTABLE=$(which python3) -DUSE_PYTEST_HELPER_BINDING=ON"

    - name: make flake8
      run: |
        make flake8 \
          ${JOB_MAKE_ARGS} \
          CMAKE_BUILD_TYPE=${{ matrix.cmake_build_type }} \
          CMAKE_ARGS="-DPYTHON_EXECUTABLE=$(which python3)"

  tidy_flake8_macos:

    if: ${{ github.event_name != 'schedule' || (github.event_name == 'schedule' && vars.MMGH_NIGHTLY == 'enable') }}

    runs-on: ${{ matrix.os }}

    env:
      JOB_MAKE_ARGS: VERBOSE=1 BUILD_QT=ON USE_CLANG_TIDY=ON LINT_AS_ERRORS=ON
      QT_DEBUG_PLUGINS: 1
      PIP_BREAK_SYSTEM_PACKAGES: 1 # disabling PEP668
      # Fix issue: https://github.com/solvcon/modmesh/issues/366
      # Use custom config for jurplel/install-qt-action@v4
      AQT_CONFIG: "thirdparty/aqt_settings.ini"

    strategy:
      matrix:
        # https://github.com/actions/runner-images/blob/main/images/macos/macos-15-Readme.md
        # use macos-15-intel to have bigger 14 GB RAM; otherwise, macos-15 only has 7GB RAM
        os: [macos-15-intel]
        cmake_build_type: [Debug]

      fail-fast: false

    steps:

      - uses: actions/checkout@v1
        with:
          fetch-depth: 1

      - name: event name
        run: |
          echo "github.event_name: ${{ github.event_name }}"
          # Some mac runner does not have /usr/local/include and cmake sometimes crashes
          sudo mkdir -p /usr/local/include

      - name: setup dependencies for MacOS
        uses: ./.github/actions/deps_lint

      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ runner.os }}-tidy-${{ matrix.cmake_build_type }}
          restore-keys: ${{ runner.os }}-tidy-${{ matrix.cmake_build_type }}
          create-symlink: true

      - name: make cinclude (check_include)
        run: make cinclude

      - name: make checkascii (check ASCII-only characters)
        run: make checkascii

      - name: make pilot USE_PYTEST_HELPER_BINDING=OFF
        run: |
          make pilot \
            ${JOB_MAKE_ARGS} \
            CMAKE_BUILD_TYPE=${{ matrix.cmake_build_type }} \
            CMAKE_ARGS="-DPYTHON_EXECUTABLE=$(which python3) -DUSE_PYTEST_HELPER_BINDING=ON"

      - name: make pilot USE_PYTEST_HELPER_BINDING=ON
        run: |
          rm -f build/*/Makefile
          make pilot \
            ${JOB_MAKE_ARGS} \
            CMAKE_BUILD_TYPE=${{ matrix.cmake_build_type }} \
            CMAKE_ARGS="-DPYTHON_EXECUTABLE=$(which python3) -DUSE_PYTEST_HELPER_BINDING=ON"

      - name: make run_pilot_pytest
        run: |
          # PySide6 installed by pip will bundle with a prebuilt Qt,
          # this will cause duplicated symbol.
          # Solve this issue by removed PySide6 prebuilt Qt library
          rm -rf $(python3 -c "import sys, os, PySide6; sys.stdout.write(os.path.dirname(PySide6.__file__))")/Qt/lib/*.framework
          make run_pilot_pytest \
            ${JOB_MAKE_ARGS} \
            CMAKE_BUILD_TYPE=${{ matrix.cmake_build_type }} \
            CMAKE_ARGS="-DPYTHON_EXECUTABLE=$(which python3)"

      - name: make flake8
        run: |
          make flake8 \
            ${JOB_MAKE_ARGS} \
            CMAKE_BUILD_TYPE=${{ matrix.cmake_build_type }} \
            CMAKE_ARGS="-DPYTHON_EXECUTABLE=$(which python3)"

  send_email_on_failure:
    needs: [clang_format_check, tidy_flake8_ubuntu, tidy_flake8_macos]
    # Run if any of the dependencies failed in master branch
    if: ${{ always() && contains(needs.*.result, 'failure') && github.ref_name == 'master' && github.event.repository.fork == false }}
    uses: ./.github/workflows/send_email_on_fail.yml
    with:
      job_results: |
        - clang_format_check: ${{ needs.clang_format_check.result }}
        - tidy_flake8_ubuntu: ${{ needs.tidy_flake8_ubuntu.result }}
        - tidy_flake8_macos: ${{ needs.tidy_flake8_macos.result }}
    secrets:
      EMAIL_USERNAME: ${{ secrets.EMAIL_USERNAME }}
      EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
